bin
.gradle
.settings
.project*
.classpath
*.jar
*.war
.attach_pid*
build/tmp
build/publications
app/build
app/bin
base/build
base/bin
r-module/build
r-module/bin
docker/proxy/logs
repo/build
repo/bin
docker/app/repository
docker/app/new
.vscode
.idea
*.iml
*.class
.sts4-cache
src/integration-test/resources/itestGenerated
src/integration-test/resources/itestNewFiles
src/integration-test/resources/itestPackages
src/integration-test/resources/itestServer
src/integration-test/resources/itestSourceFiles
src/integration-test/resources/itestPdf
/build/
repo/target
app/target
base/target
r-module/target
