bin
.gradle
.settings
.project*
.classpath
*.jar
*.war
.attach_pid*
build/tmp
build/publications
rdepot-app/build
rdepot-app/bin
rdepot-base/build
rdepot-base/bin
rdepot-r-module/build
rdepot-r-module/bin
rdepot-python-module/build
rdepot-python-module/bin
docker/proxy/logs
rdepot-repo/build
rdepot-repo/bin
docker/app/repository
docker/app/new
.vscode
.idea
*.iml
*.class
.sts4-cache
rdepot-app/src/test/resources/itestGenerated
rdepot-app/src/test/resources/itestNewFiles
rdepot-app/src/test/resources/itestPackages
rdepot-app/src/test/resources/itestServer
rdepot-app/src/test/resources/itestSourceFiles
rdepot-app/src/test/resources/itestPdf
rdepot-app/src/test/resources/itestTrashFiles
rdepot-repo/target
rdepot-app/target
rdepot-base/target
rdepot-r-module/target
rdepot-python-module/target
target/
.factorypath
.metadata
=
