<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="arr:repository-version" content="0">
    <title>Links for plyr</title>
</head>
<body>
	<h1>Links for plyr</h1>
    <table>
        <tbody><div class="package" id="package-31">
    <a href="/repo/arr/bin/linux/centos8/x86_64/4.5/Archive/plyr/plyr_1.8.6.tar.gz">plyr</a>
    <div class="package-version">1.8.6</div>
    <div class="package-title">Tools for Splitting, Applying and Combining Data</div>
    <div class="package-description">A set of tools that solves a common set of\n problems: you need to break a big problem down into manageable pieces,\n operate on each piece and then put all the pieces back together. For\n example, you might want to fit a model to each spatial location or\n time point in your study, summarise data by panels or collapse\n high-dimensional arrays to simpler summary statistics. The development\n of 'plyr' has been generously supported by 'Becton Dickinson'.</div>
    <div class="package-maintainer">N/A</div>
</div>
<div class="package" id="package-33">
    <a href="/repo/arr/bin/linux/centos8/x86_64/4.5/Archive/plyr/plyr_1.8.1.tar.gz">plyr</a>
    <div class="package-version">1.8.1</div>
    <div class="package-title">Tools for splitting, applying and combining data</div>
    <div class="package-description">plyr is a set of tools that solves a common\n set of problems: you need to break a big problem down\n into manageable pieces, operate on each pieces and then\n put all the pieces back together. For example, you\n might want to fit a model to each spatial location or\n time point in your study, summarise data by panels or\n collapse high-dimensional arrays to simpler summary\n statistics. The development of plyr has been generously\n supported by BD (Becton Dickinson).</div>
    <div class="package-maintainer">N/A</div>
</div>
</tbody>
    </table>
</body>
</html>
