<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="arr:repository-version" content="0">
    <title>Links for qsort</title>
</head>
<body>
	<h1>Links for qsort</h1>
    <table>
        <tbody><div class="package" id="package-35">
    <a href="/repo/arr/src/contrib/Archive/qsort/qsort_0.2.1.tar.gz">qsort</a>
    <div class="package-version">0.2.1</div>
    <div class="package-title">Scoring Q-Sort Data</div>
    <div class="package-description">Computes scores from Q-sort data, using criteria sorts and\n derived scales from subsets of items.\n The 'qsort' package includes descriptions and scoring procedures\n for four different Q-sets:\n Attachment Q-set (version 3.0) (Waters, 1995, <doi:10.1111/j.1540-5834.1995.tb00214.x>);\n California Child Q-set (Block and Block, 1969, <doi:10.1037/0012-1649.21.3.508>);\n Maternal Behaviour Q-set (version 3.1)\n (Pederson et al., 1999, <https://ir.lib.uwo.ca/cgi/viewcontent.cgi?article=1000&context=psychologypub>);\n Preschool Q-set (Baumrind, 1968 revised by Wanda Bronson, <doi:10.1111/j.1540-5834.1995.tb00214.x>).</div>
    <div class="package-maintainer">N/A</div>
</div>
<div class="package" id="package-39">
    <a href="/repo/arr/src/contrib/Archive/qsort/qsort_0.2.2.tar.gz">qsort</a>
    <div class="package-version">0.2.2</div>
    <div class="package-title">Scoring Q-Sort Data</div>
    <div class="package-description">Computes scores from Q-sort data, using criteria sorts and\n derived scales from subsets of items.\n The 'qsort' package includes descriptions and scoring procedures\n for four different Q-sets:\n Attachment Q-set (version 3.0) (Waters, 1995, <doi:10.1111/j.1540-5834.1995.tb00214.x>);\n California Child Q-set (Block and Block, 1969, <doi:10.1037/0012-1649.21.3.508>);\n Maternal Behaviour Q-set (version 3.1)\n (Pederson et al., 1999, <https://ir.lib.uwo.ca/cgi/viewcontent.cgi?article=1000&context=psychologypub>);\n Preschool Q-set (Baumrind, 1968 revised by Wanda Bronson, <doi:10.1111/j.1540-5834.1995.tb00214.x>).</div>
    <div class="package-maintainer">N/A</div>
</div>
</tbody>
    </table>
</body>
</html>
