api_token:
  secret: SecretKeyToGenJWTs

declarative: false

app:
  authentication: keycloak      
  keycloak:
    baseUrl: http://192.168.49.23:8080
    auth-server-url: http://192.168.49.17:8080/auth
    realm: RDepot  
    resource: oa-rdepot-app-keycloak
    ssl-required: external
    credentials-secret: 68951b41-39bd-4f1f-b7e8-d17228c8132c
    principal-attribute: preferred_username
    default:
      admins: 
        - einstein
        
# Database related properties
db:
  driver: org.postgresql.Driver
  url: jdbc:postgresql://oa-rdepot-db:5432/rdepot
  username: rdepot
  password: mysecretpassword

# Hibernate related properties
hibernate:
  dialect: org.hibernate.dialect.PostgreSQLDialect
  show_sql: false
  
# Enable Liquibase
spring:
  liquibase:
    enabled: false          