.mdl-checkbox.is-disabled .mdl-checkbox__box-outline{
    border-color: #bdbdbd;
}

.mdl-button--primary.mdl-button--primary.mdl-button--raised, .mdl-button--primary.mdl-button--primary.mdl-button--fab {
    background-color: rgb(50, 166, 211);
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 2;
}

#maintainer-package-text {
    width: 240px;
}