.accept-button {
    background-color: rgb(79, 210, 49);
}

.accept-button:hover {
    background-color: rgb(149, 219, 134);
}

.accept-button:active {
    background-color: rgb(52, 121, 37);
}

.cancel-button {
    background-color: rgb(229, 35, 35);
}

.cancel-button:hover {
    background-color: rgb(221, 136, 129);
}

.cancel-button:active {
    background-color: rgb(131, 46, 38);
}

.mdl-checkbox.is-disabled .mdl-checkbox__box-outline{
    border-color: rgb(153, 153, 153);
}