<!DOCTYPE html>
<html>
    <head th:replace="fragments/header :: head (module='error')"></head>
    <body>
        <div class="mdl-layout mdl-js-layout">
            <header th:replace="fragments/header :: topbar (module='error')"></header>
            <div th:replace="fragments/header :: drawer (module='error')"></div>
            <main class="mdl-layout__content">           
                <div id="message" th:switch="${status}">
                    <div th:case="403">
                        <h3>You are not allowed to see this page.</h3>
                    </div>
                    <div th:case="*">
                        <h3 th:text="${status} + ' ' + ${error}"></h3>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>