<!DOCTYPE html>
<html>
    <head th:replace="fragments/header :: head (module='manager')"></head>
    <body>
        <div class="mdl-layout mdl-js-layout">
            <header th:replace="fragments/header :: topbar (module='manager')"></header>
            <div th:replace="fragments/header :: drawer (module='manager')"></div>
            <main class="mdl-layout__content">
                <button type="button" class="add-package-fab mdl-button mdl-button--fab mdl-button--primary" onclick="openFileDialog()"><i class="material-icons">add</i></button>       
                
                    <form method="post" th:action="@{/manager/packages/submit}" enctype="multipart/form-data" id="files-form">
                        <div class="repos-cell mdl-cell">
                            <select id="select-repos" multiple style="width:100%;" placeholder="Select one or more repositories">
                                <option th:each="repository : ${repositories}">
                                    <span th:text="${repository.name}"></span>
                                </option>
                            </select>
                        </div>
                        <div class="upload-message"></div>
                        <div id="files-grid" class="mdl-grid"></div>
                        <input class="filesToUpload" type="file" multiple style="display:none;"/>
                        <input id="submitInput" type="submit" style="display:none;"/>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    </form>        
            </main>
            <dialog class="mdl-dialog"></dialog> 
        </div>
    </body>
</html>

