<!DOCTYPE html>
<html>
    <head th:replace="fragments/header :: head (module='repositories')">
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout">
            <header th:replace="fragments/header :: topbar (module='repositories')"></header>
            <div th:replace="fragments/header :: drawer (module='repositories')"></div>
            <main class="mdl-layout__content">
                <div class="package-container">
                    <div class="package-details">
                        <h2 th:text="${packageBag.title}"></h2>
                        <p class="package-description" th:text="${packageBag.description}"></p>
                        <table>
                            <tbody>
                                <tr>
                                    <th>Author</th>
                                    <td th:text="${packageBag.author}"></td>
                                </tr>
                                <tr>
                                    <th>Maintainer</th>
                                    <td th:text="${packageBag.user.name} + '&lt;' + ${packageBag.user.email} + '&gt;'"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="install-instruct">
                        <h3>Install</h3>
                        <p>To install this package, start R and enter:</p>
                        <p class="install">install.packages(&quot;<span th:text="${packageBag.name}"></span>&quot;, repos = c(rdepot = &quot;<span th:text="${packageBag.repository.publicationUri}"></span>&quot;, getOption(&quot;repos&quot;)))</p>
                    </div>
                    <h3>Documentation</h3>
                    <div th:if="${#lists.isEmpty(vignettes)} == true">
                        No vignettes available
                    </div>
                    <div th:if="${#lists.isEmpty(vignettes)} == false">
                        <ul>
                            <li th:each="vignette : ${vignettes}"><a th:href="@{/manager/packages/} + ${packageBag.id} + @{/vignettes/} + ${vignette.fileName}" th:text="${vignette.title}"></a></li>
                        </ul>
                    </div>
                    <a th:if="${isManualAvailable}" th:href="@{/manager/packages/} + ${packageBag.id} + @{/download/} + ${packageBag.name} + '.pdf'">Reference Manual</a>
                    <h3>Details</h3>
                    <table>
                        <tbody>
                            <tr>
                                <th>Depends</th>
                                <td th:text="${packageBag.depends}"></td>
                            </tr>
                            <tr>
                                <th>Imports</th>
                                <td th:text="${packageBag.imports}"></td>
                            </tr>
                            <tr>
                                <th>Suggests</th>
                                <td th:text="${packageBag.suggests}"></td>
                            </tr>
                            <tr>
                                <th>System Requirements</th>
                                <td th:text="${packageBag.systemRequirements}"></td>
                            </tr>
                            <tr>
                                <th>License</th>
                                <td th:text="${packageBag.license}"></td>
                            </tr>
                            <tr>
                                <th>URL</th>
                                <td th:text="${packageBag.url}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>Downloads</h3>
                    <table>
                        <tbody>
                            <tr>
                                <th>Source file</th>
                                <td><a th:href="@{/manager/packages/} + ${packageBag.id} + @{/download/} + ${packageBag.name} + '_' + ${packageBag.version} + '.tar.gz'" th:text="${packageBag.name} + '_' + ${packageBag.version} + '.tar.gz'"></a></td>
                            </tr>
                            <tr>
                                <th>Windows binaries</th>
                                <td>Not available</td>
                            </tr>
                            <tr>
                                <th>OS X binaries</th>
                                <td>Not available</td>
                            </tr>
                            <tr>
                                <th>Old sources</th>
								<td><a th:href="@{/manager/repositories/} + ${repository.name} + @{/packages/} + ${packageBag.name} + @{/archive}">Archive</a></td>                               
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
        
    </body>
</html>