<!DOCTYPE html>
<html>
    <head th:replace="fragments/header :: head (module='packages')">
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout">
            <header th:replace="fragments/header :: topbar (module='packages')"></header>
            <div th:replace="fragments/header :: drawer (module='packages')"></div>
            <main class="mdl-layout__content">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Version</th>
                            <th class="mdl-data-table__cell--non-numeric full-width">Description</th>
                            <th class="mdl-data-table__cell--non-numeric">Maintainer</th>
                            <th class="mdl-data-table__cell--non-numeric">Repository</th>
                            <th class="mdl-data-table__cell--non-numeric">Active</th>
                            <th class="mdl-data-table__cell--non-numeric">Actions</th>
                        </tr>                
                    </thead>
                    <tbody>
                        <tr th:each="package : ${packages}" >
                            <input type="hidden" th:id="'package-' + ${package.id}"/>
                            <div th:id="'description-' + ${package.id}" th:text="${package.description}" style="display:none;"></div>
                            <td class="mdl-data-table__cell--non-numeric package-name" th:text="${package.name}" th:data1="${package.id}" th:onclick="showDescriptionDialog(this.getAttribute('data1'))"></td>
                            <td class="mdl-data-table__cell--non-numeric package-version" th:text="${package.version}" th:data1="${package.id}" th:onclick="showDescriptionDialog(this.getAttribute('data1'))"></td>
                            <td class="mdl-data-table__cell--non-numeric package-description" th:text="${package.description}" th:data1="${package.id}" th:onclick="showDescriptionDialog(this.getAttribute('data1'))"></td>
                            <td class="mdl-data-table__cell--non-numeric package-username" th:text="${package.user.name}" th:data1="${package.id}" th:onclick="showDescriptionDialog(this.getAttribute('data1'))"></td>
                            <td class="mdl-data-table__cell--non-numeric package-repository" th:text="${package.repository.name}" th:data1="${package.id}" th:onclick="showDescriptionDialog(this.getAttribute('data1'))"></td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <!--th:for="'checkbox-' + ${package.id}" th:onclick="'changeActive('+ ${package.id} + ')'"-->
                                <div th:switch="${role > 0 && maintained.contains(package.id)}">
                                    <label th:case="${true}" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" th:for="'checkbox-' + ${package.id}" th:data1="${package.id}" th:data2="@{/manager}" th:onclick="changeActive(this.getAttribute('data1'),this.getAttribute('data2'))">
                                        <input type="checkbox" th:id="'checkbox-' + ${package.id}" class="mdl-checkbox__input" th:checked="${package.isActive()}"/>
                                    </label>
                                    <label th:case="${false}" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" th:for="'checkbox-' + ${package.id}">
                                        <input type="checkbox" th:id="'checkbox-' + ${package.id}" class="mdl-checkbox__input" th:checked="${package.isActive()}" disabled/>
                                    </label>
                                </div>
                                
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <button th:if="${role > 0 && maintained.contains(package.id)}"  class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" th:data1="${package.id}" th:data2="@{/manager}" th:onclick="openDeletePackageDialog(this.getAttribute('data1'),this.getAttribute('data2'))">
                                    <i class="material-icons">delete_forever</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </main>
        </div>
        
        <dialog class="mdl-dialog"></dialog> 
    </body>
</html>