<!DOCTYPE html>
<html>
    <head th:replace="fragments/header :: head (module='repositories')">
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout">
            <header th:replace="fragments/header :: topbar (module='repositories')"></header>
            <div th:replace="fragments/header :: drawer (module='repositories')"></div>
            <main class="mdl-layout__content">                    
                 <div th:switch="${disabled}">
                 	<div th:case="${false}">
                 		<button th:if="${role > 2}" type="button" class="add-repository-fab mdl-button mdl-button--fab mdl-button--primary" onclick="openAddRepositoryDialog()"><i class="material-icons">add</i></button>
                 	</div>
                 	<div th:case="${true}">
                 		<button th:if="${role > 2}" type="button" class="add-repository-fab mdl-button mdl-button--fab mdl-button--primary" style="background-color:rgba(0,0,0, 0.26);" onclick="openAddRepositoryDialog()" disabled><i class="material-icons">add</i></button>
                 	</div>
                 </div>	                                             
                    
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric full-width">Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Publication URI</th>
                            <th class="mdl-data-table__cell--non-numeric">Server address</th>
                            <th class="mdl-data-table__cell--non-numeric">Version</th>
                            <th class="mdl-data-table__cell--non-numeric">Number of packages</th>
                            <th class="mdl-data-table__cell--non-numeric">Published</th>
                            <th class="mdl-data-table__cell--non-numeric">Actions</th>
                        </tr>                
                    </thead>
                    <tbody>
                        <tr th:each="repository : ${repositories}" >
                            <input type="hidden" th:id="'repository-' + ${repository.id}"/>
                            <div th:id="'editrepository-' + ${repository.id}" th:text="${repository.name}" style="display:none;"></div> <!-- edit later-->
                            <td class="mdl-data-table__cell--non-numeric repository-name" th:text="${repository.name}" th:data1="${repository.name}" th:onclick="openRepositoryPage(this.getAttribute('data1'))"></td>
                            <td class="mdl-data-table__cell--non-numeric repository-publication-uri" th:text="${repository.publicationUri}" th:data1="${repository.name}" th:onclick="openRepositoryPage(this.getAttribute('data1'))"></td>
                            <td class="mdl-data-table__cell--non-numeric repository-server-address" th:text="${repository.serverAddress}" th:data1="${repository.name}" th:onclick="openRepositoryPage(this.getAttribute('data1'))"></td>
                            <td class="mdl-data-table__cell--non-numeric repository-version" th:text="${repository.version}" th:data1="${repository.name}" th:onclick="openRepositoryPage(this.getAttribute('data1'))"></td>
                            <td class="mdl-data-table__cell--non-numeric repository-number-of-packages" th:text="${repository.packages.size()}" th:data1="${repository.name}" th:onclick="openRepositoryPage(this.getAttribute('data1'))"></td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <!--th:for="'checkbox-' + ${package.id}" th:onclick="'changeActive('+ ${package.id} + ')'"-->
                                <div th:switch="${role > 1 && maintained.contains(repository.id)}">
                                    <label th:case="${true}" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" th:for="'checkbox-' + ${repository.id}" th:onclick="'changePublished(' + ${repository.id} + ')'">
                                        <input type="checkbox" th:id="'checkbox-' + ${repository.id}" class="mdl-checkbox__input" th:checked="${repository.isPublished()}"/>
                                    </label>
                                    <label th:case="${false}" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" th:for="'checkbox-' + ${repository.id}">
                                        <input type="checkbox" th:id="'checkbox-' + ${repository.id}" class="mdl-checkbox__input" th:checked="${repository.isPublished()}" disabled/>
                                    </label>
                                </div>
                                
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <div th:if="${role > 1 && maintained.contains(repository.id)}">
	                                <div th:switch="${disabled}">
	                                    <div th:case="${false}">
	                                    	<button th:if="${role > 2}" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" th:onclick="'openDeleteRepositoryDialog('+ ${repository.id} + ')'">
	                                            <i class="material-icons">delete_forever</i>
	                                        </button>                                        
	                                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" style="color:rgba(50, 166, 211);" th:onclick="'openEditRepositoryDialog('+ ${repository.id} + ')'">
	                                            <i class="material-icons">edit</i>
	                                        </button>
	                                    </div>
	                                    <div th:case="${true}">
	                                    	<button th:if="${role > 2}" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" th:onclick="'openDeleteRepositoryDialog('+ ${repository.id} + ')'" disabled>
	                                            <i class="material-icons">delete_forever</i>
	                                        </button>                                        
	                                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" style="color:rgba(0,0,0, 0.26));" th:onclick="'openEditRepositoryDialog('+ ${repository.id} + ')'" disabled>
	                                            <i class="material-icons">edit</i>
	                                        </button>
	                                    </div>	                                    
	                                </div>                                    
                                </div>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </main>
        </div>
        
        <dialog class="mdl-dialog"></dialog> 
    </body>
</html>