<!DOCTYPE html>
<html>
    <head th:replace="fragments/header :: head (module='submissions')">
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout">
            <header th:replace="fragments/header :: topbar (module='submissions')"></header>
            <div th:replace="fragments/header :: drawer (module='submissions')"></div>
            <main class="mdl-layout__content">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Date</th>
                            <th class="mdl-data-table__cell--non-numeric">Package</th>
                            <th class="mdl-data-table__cell--non-numeric">Repository</th>
                            <th class="mdl-data-table__cell--non-numeric full-width">Submitter</th>
                            
                            <!--<th class="mdl-data-table__cell--non-numeric full-width">Changes</th> -->
                            
                            <th class="mdl-data-table__cell--non-numeric">Accepted</th>
                            <th class="mdl-data-table__cell--non-numeric">Actions</th>
                        </tr>                
                    </thead>
                    <tbody>
                        <tr th:each="submission : ${submissions}">
                            <input type="hidden" th:id="'submission-' + ${submission.id}"/>
                            <td class="mdl-data-table__cell--non-numeric submission-date">
                                <div th:each="event : ${submission.getSubmissionEvents()}">
                                    <div th:if="${event.getEvent().getValue().equals('create')}">
                                        <span th:text="${event.getDate()}"></span>
                                    </div>
                                </div>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric submission-package" th:text="${submission.getPackage().name} + ' ' + ${submission.getPackage().version}"></td>
                            <td class="mdl-data-table__cell--non-numeric submission-repository" th:text="${submission.getPackage().repository.name}"></td>
                            <td class="mdl-data-table__cell--non-numeric submission-submitter" th:text="${submission.user.name}"></td>
                            
                            <!-- <td class="mdl-data-table__cell--non-numeric submission-changes" th:text="${submission.changes}"></td> -->
                            
                            <td class="mdl-data-table__cell--non-numeric">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" th:for="'checkbox-' + ${submission.id}">
                                    <input type="checkbox" th:id="'checkbox-' + ${submission.id}" class="mdl-checkbox__input" th:checked="${submission.isAccepted()}" disabled="disabled"/>
                                </label>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">   
                                <label class="mdl-button mdl-js-button accept-button" th:id="'accept-submission-button-' + ${submission.id}" th:if="${@userService.isAuthorizedToAccept(submission, user) && submission.isAccepted() == false}" th:onclick="'acceptSubmission(' + ${submission.id} + ')'">Accept</label>
                                <label class="mdl-button mdl-js-button cancel-button" th:id="'cancel-submission-button-' + ${submission.id}" th:if="${@userService.isAuthorizedToCancel(submission, user) && submission.isAccepted() == false}" th:onclick="'cancelSubmission(' + ${submission.id} + ')'">Cancel</label>
                            </td>
                            <!--th:disabled="${@userService.isAuthorizedToAccept(submission, submission.user) ? '' : 'disabled'}"-->
                        </tr>
                    </tbody>
                </table>
            </main>
        </div>
        <dialog class="mdl-dialog"></dialog>
    </body>
</html>